*,
*::before,
*::after {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 40px;
    background-color: red;
    margin: 0;
    padding: 0;
}

nav.horizontal ul {
    list-style-type: none;
    background-color: #3d3d3d;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav.horizontal li {
    float: left;
}

nav.horizontal li a {
    display: block;
    text-decoration: none;
    color: rgb(235, 235, 235);
    padding: 16px;
    text-align: center;

}

nav.horizontal li a:hover {
    background-color: #272727;
}

nav.vertical ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

nav.vertical li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav.vertical li a:hover {
    background-color: hsl(0, 0%, 73%);
}

nav.hor ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgb(207, 31, 31);
    overflow: hidden;
}

nav.hor li {
    float: left;
}

nav.hor li a {
    display: block;
    padding: 17px;
    text-decoration: none;
    color: #f0f0f0;
}

nav.hor li a:hover {
    background-color: #aa0000;
}

nav.vert ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(14, 144, 219);
}

nav.vert li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
}

nav.vert li a:hover {
    background-color: rgb(13, 114, 172);
}

h2 {
    font-size: 27px;
}

.main {
    background-color: orange;
    margin: 0;
}

.second {
    background-color: rgb(250, 240, 230);
    margin: 0;
    max-width: 300px;
    margin: auto;
}

div h1 {
    background-color: hsl(120, 42%, 48%);
    font-size: 20px;
    color: white;
    margin: auto;
    width: 450px;
    height: 60px;
    line-height: 60px;
}

div h1:hover {
    background-color: rgb(100, 150, 250);
}

div p {
    display: none;
    background-color: greenyellow;
    padding: 20px;
}

div:hover p {
    display: block;
}